body{
  box-sizing: border-box;
  margin :0;
  padding:0;
  background-color: #84371b;
}
.logos{
  color: aliceblue;
  
}
.glass{
background: rgba(175, 157, 157, 0.25);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
/* border-radius: 10px; */
border: 1px solid rgba( 255, 255, 255, 0.18 );
/* background-color: #c78d39; */
color: #b6b5b4;
min-width: 100%;
}
ul{
  list-style: none;
  font-size: 1.1em;
}
section{
  display: flex;
  justify-content: space-around;
}
.log,.reg{
  text-decoration: none;
}
.log:hover{
 color : rgb(73, 231, 33) !important;
 text-decoration: underline !important;
}
.reg:hover{
  color: crimson !important;
  text-decoration: underline !important;
}
.form-control{
  border-radius: 10px;
}
#file-photo{
  padding: 5px;
  /* color: #b6b5b4; */
}
#file-photo:hover{
  background-color: #b6b5b4;
}
input{
  border-radius: 5px !important;
}
.btn-success{
  background-color: blue !important;
  width: 20%;
}

.imagein{
 


}
.glasse{

  background: rgba(252, 223, 193, 0.25);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 20px;
  max-width: 75%;  
}
.cd{
  background-color: rgb(250, 233, 213);
} 
.prix{
  width: 83px;
  border-radius: 27px;
  justify-content: center;
  display: flex;
  background: #84371b;
}